@import "@/sass/abstracts/variables.module";
@import "@/sass/abstracts/mixins.module";

.documentationInfo {
  display: flex;
  flex-direction: column;

  width: 30rem;
  height: 100%;
  padding: 1.6rem;

  background-color: $primary-color-xxs;

  &__title {

  }

  &__info {

  }

  &__link {

  }
}
