@import "@/sass/abstracts/variables.module";
@import "@/sass/abstracts/mixins.module";

.documentationInfo {
  display: flex;
  flex: 0 0;
  flex-direction: column;
  width: 0;
  height: 100%;
  padding: 0;
  overflow: hidden;
  background-color: $primary-color-xxs;
  @include transition;

  &_open {
    width: 30rem;
    padding: 1.6rem;
  }

  &__title {

  }

  &__info {

  }

  &__link {

  }
}
