$text-color: #26192b;
$error-color: #CC0000;

$primary-color: #554689;
$primary-color-s: #7a8c9a;
$primary-color-xs: #bac7fb;
$primary-color-xxs: #ffffff;

$secondary-color: #824271;
$secondary-color-s: #e1c2eb;
$secondary-color-xs: #f0ecf0;

$screen-width-s: 576px;
$screen-width-m: 768px;
$screen-width-l: 992px;
$screen-width-xl: 1200px;

:export {
  textColor: $text-color;
  primaryColor: $primary-color;
  primaryColorS: $primary-color-s;
  primaryColorXS: $primary-color-xs;
  primaryColorXXS: $primary-color-xxs;
  secondaryColor: $secondary-color;
  secondaryColorS: $secondary-color-s;
  secondaryColorXS: $secondary-color-xs;
}
