$text-color: #26192b;

$primary-color: #554689;
$primary-color-s: #7a8c9a;
$primary-color-xs: #bac7fb;
$primary-color-xxs: #ffffff;

$secondary-color: #824271;
$secondary-color-s: #e1c2eb;
$secondary-color-xs: #f0ecf0;

$error-color: #cc0000;
$error-color-light: #ffcccc;
$success-color: #126b29;
$success-color-light: #d4edda;

$screen-width-s: 575px;
$screen-width-m: 767px;
$screen-width-l: 991px;
$screen-width-xl: 1199px;
