@import "@/sass/abstracts/variables.module";
@import "@/sass/abstracts/mixins.module";

.documentationInfo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 0;
  height: 100%;
  padding: 0;
  overflow: hidden;
  background-color: $primary-color-xxs;
  @include transition;

  &_open {
    width: 30rem;
    padding: 1.6rem;

    @include media-m {
      position: absolute;
      top: 22.7px;
      bottom: 10rem;
      left: 7rem;
      right: 0;
      width: unset;
      height: unset;
      // todo: add transition
    }
  }

  &__errorMessage {
    margin-top: 1rem;
    color: $primary-color-s;
  }
}
