@import '../../../sass/abstracts/variables.module';
@import '../../../sass/abstracts/mixins.module';

.button {
  padding: 1rem 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  overflow: hidden;

  color: $primary-color-xxs;
  font-size: 1.6rem;

  background-color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 1rem;

  @include transition;
  cursor: pointer;

  &::after {
    content: '';
    display: block;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 0;
    height: 2px;

    background-color: $primary-color-xxs;

    @include transition;
  }

  &:hover,
  &:active {
    color: $text-color;
    background-color: $primary-color-xxs;
    border: 1px solid $primary-color;
  }

  &:active {
    background-color: $primary-color-xs;
  }

  &_routed {
    color: inherit;

    background-color: transparent;
    border-radius: 0;
    border: none;

    &.button::after {
      background-color: $primary-color;
      width: 100%;
    }

    &:hover {
      border: none;
      background-color: transparent;
    }
  }

  &_scrolling {
    &.button_routed {
      &::after {
        background-color: $primary-color-xxs;
      }
    }

    &:hover {
      &.button_routed {
        color: $primary-color-xxs;
      }
    }
  }

  &_secondary {
    color: $text-color;

    background-color: $primary-color-xxs;
    border: 1px solid $primary-color;

    &:hover {
      background-color: $primary-color-xs;
    }
  }

  &_long {
    width: 100%;
  }

  &_light {
    color: $secondary-color;
    background-color: $secondary-color-xs;
    border: 1px solid transparent;
    font-size: 1.3rem;

    &:hover {
      color: $secondary-color;
      background-color: transparent;
      border: 1px solid $secondary-color-xs;
    }
  }

  @include media-m {
    font-size: 1.8rem;
  }
}
