@import '../../../sass/abstracts/variables.module';
@import '../../../sass/abstracts/mixins.module';


.link {
  color: $text-color;
  @include transition;

  &:hover, &:active {
    border-bottom: 2px solid $primary-color;
    cursor: pointer;
  }

  &_light {
    color: $primary-color-xxs;

    &:hover, &:active {
      border-bottom: 2px solid $primary-color-xxs;
    }
  }
}
