@import '../../../sass/abstracts/variables.module';
@import '../../../sass/abstracts/mixins.module';

.link {
  color: $text-color;
  padding: 1rem 1.5rem;
  border-bottom: 2px solid transparent;

  @include transition;

  &:hover,
  &:active {
    border-bottom: 2px solid $primary-color;
    cursor: pointer;
  }

  &_light {
    display: flex;
    align-items: center;
    padding: 0;

    color: $primary-color-xxs;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid transparent;

    @include transition;

    &:hover,
    &:active {
      cursor: pointer;
      border-bottom: 2px solid $primary-color-xxs;
    }
  }
}
