@import '../../../../sass/abstracts/variables.module';
@import '../../../../sass/abstracts/mixins.module';

.docsList {
  max-height: 70vh;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background: $secondary-color-s;
  }

  &__item {
    width: fit-content;
    padding: 0.3rem;
    font-weight: 300;
    color: $primary-color;
    border-bottom: 0.1rem solid transparent;
    text-transform: capitalize;
    @include transition;

    &:hover {
      cursor: pointer;
      font-weight: 400;
      border-bottom: 0.1rem solid $secondary-color;
    }
  }
}
