@import '@/sass/abstracts/variables.module.scss';

.header {
  background-color: $primary-color-s;

  &__wrapper {
    display: flex;
    justify-content: center;
    gap: 3rem;
    color: $primary-color-xxs;
  }
}
