@import '@/sass/abstracts/variables.module.scss';
// TODO переделать на БЄМ
.header {
// <<<<<<< HEAD
  padding: 2rem 2rem 0 2rem;
  height: 6.75rem;
  position: sticky;
  top: 0;

  background-color: $primary-color-xxs;

  transition: 0.3s all;

  .content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
  }

  .logo {
    padding: 0.62rem 0;

    justify-self: start;

    text-decoration: none;
    color: $secondary-color;
    font-size: 1.25rem;

    transition: 0.3s all;
  }

  .link {
    padding: 0.62rem 0.94rem;

    display: block;
    position: relative;

    text-decoration: none;
    color: inherit;
    font-size: 1.125rem;

    &::after {
      content: '';
      display: block;

      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      width: 0;
      height: 2px;

      background-color: $primary-color;
      transition: 0.3s all;
    }

    &:hover,
    &_active {
      &.link::after {
        width: 100%;
      }
    }
  }

  .menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .select {
    border: none;

    font-size: 1.125rem;
    color: inherit;

    background-color: rgba(255, 255, 255, 0);

    cursor: pointer;
  }

  .access {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }

  .sign-up {
    background-color: $primary-color;
    border-radius: 10px;

    color: $primary-color-xxs;

    transition: 0.3s all;

    &:hover {
      &.link::after {
        width: 0;
      }
    }
  }

  .burger-icon {
    display: none;
    flex-direction: column;
    gap: 0.5rem;

    cursor: pointer;
  }

  .burger-line {
    width: 2rem;
    height: 2px;
    background-color: $text-color;
  }

  .close {
    display: none;
  }

  .overlay {
    display: none;
  }

  &_scrolling {
    background-color: $primary-color-s;

    color: $primary-color-xxs;

    .link {
      &::after {
        background-color: $primary-color-xxs;
      }

      &:hover,
      &_active {
        &.link::after {
          width: 100%;
        }
      }
    }

    .logo {
      color: $primary-color-xxs;
    }

    .sign-up {
      color: $secondary-color;
      background-color: $primary-color-xxs;

      &:hover {
        &.link::after {
          width: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .header {
    .content {
      grid-template-columns: repeat(2, 1fr);
    }

    .burger-icon {
      display: flex;
      justify-self: end;
    }

    .menu {
      padding: 2rem;

      width: 45vw;
      height: 100vh;

      grid-template-columns: 1fr;

      position: fixed;
      top: 0;
      right: -45vw;
      z-index: 100;

      background-color: $primary-color-xxs;

      transition: 0.3s all;

      &_active {
        right: 0;
      }
    }

    .nav-bar {
      flex-direction: column;

      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%);
    }

    .access {
      text-align: center;
      width: 100%;
      align-items: stretch;
      flex-direction: column;
    }

    .select {
      position: absolute;
      top: 2.62rem;
      left: 2.62rem;
    }

    .close {
      display: block;

      position: absolute;
      top: 2.62rem;
      right: 2.62rem;

      cursor: pointer;

      img {
        width: 100%;
      }
    }

    .overlay {
      display: block;
      opacity: 0;
      visibility: hidden;
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(240, 236, 240, 0.5);

      transition: 0.3s all;

      &_active {
        opacity: 100;
        visibility: visible;
      }
    }

    &_scrolling {
      .menu {
        background-color: $primary-color-s;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    .menu {
      width: 100vw;
      right: -100%;

      &_active {
        right: 0;
      }
    }
// =======
//   background-color: $primary-color-s;

//   &__wrapper {
//     display: flex;
//     justify-content: center;
//     gap: 3rem;
//     color: $primary-color-xxs;
// >>>>>>> sprint-3
  }
}
