@import '@/sass/abstracts/variables.module';
@import '@/sass/abstracts/mixins.module';

.card {
  width: 30%;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 3rem;
  background-color: $primary-color-xxs;
  border: 0.1rem solid $primary-color-xs;
  border-radius: 0.8rem;

  &__image {
    width: 25rem;
    height: 25rem;

    border-radius: 0.8rem;
    border: 0.1rem solid $primary-color;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 1.3rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: 300;
    color: $secondary-color;
  }

  &__subtitle {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
    font-style: italic;
    font-size: 1.6rem;
  }

  &__description {
    cursor: default;
    width: 100%;
    max-height: 15rem;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: justify;
    overflow: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
    }
  }

  @include media-xl {
    width: 32%;
    padding: 2rem;

    &__image {
      width: 20rem;
      height: 20rem;
    }
  }

  @include media-l {
    width: 80%;
  }

  @include media-m {
    &__image {
      width: 20rem;
      height: 20rem;
    }

    &__title {
      font-size: 1.8rem;
    }

    &__subtitle {
      font-size: 1.5rem;
    }
  }

  @include media-s {
    width: 100%;
    &__image {
      width: 15rem;
      height: 15rem;
    }

    &__title {
      font-size: 1.6rem;
    }

    &__description {
      font-size: 1.4rem;
    }
  }
}
